@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lugares</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome </h2>
        <p>
            Lugares - Iteracao 2.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Iteracao 1</h2>
        <p>Widget.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">Download Widget &raquo;</a></p>
    </div>
   
</div>